<table>
	{{#each rows as |row|}}
		<tr>
			{{#each row as |cell|}}
				<td>	
					{{#if cell.first}}
						{{cell.text}}
					{{else}}
						{{sheet-cell cid=cell.id cell=cell.cell computeValue=(action "computeValue")}}
					{{/if}}
				</td>
			{{/each}}
		</tr>
	{{/each}}
</table>